#+TITLE: Example variable setup
#+PROPERTY: header-args :tangle .env
#+auto_tangle: t

* Setup
Copy the following variables into the .env file.
Note for emacs users you can tangle this org file to generate the .env from the defaults

All variables starting with NEXT_PUBLIC_ are exposed to the client
** Required configuration
#+begin_src sh
KEYAUTH_NAME="library-development"
KEYAUTH_OWNERID="EdmsTKiuld"
KEYAUTH_SELLERKEY="9fa8a44b9f8ba46e23339bcc5e02914e"
#+end_src
These are from the demo seller account
** Optional configuration
*** Discord embed settings
Note sitename is the small text on top of the embed the rest is self explanatory
#+begin_src sh
NEXT_PUBLIC_DISCORD_SITE_NAME=""
NEXT_PUBLIC_DISCORD_DESCRIPTION=""
NEXT_PUBLIC_DISCORD_TITLE=""
NEXT_PUBLIC_DISCORD_IMAGE_URL=""
#+end_src
*** Website title
#+begin_src sh
NEXT_PUBLIC_WEBSITE_TITLE="KeyAuth Panel"
#+END_SRC

This string will be apended to the <title> element on the /dashboard endpoint when the user is logged in
#+BEGIN_SRC sh
NEXT_PUBLIC_WEBSITE_TITLE_APPEND_DASH=""
#+end_src
*** Colors
Every color should be specified in hex format
I recomend using [[https://tailwindcss.com/docs/customizing-colors][tailwind colors]] to have a nice looking app
#+begin_src sh
NEXT_PUBLIC_BACKGROUND_COLOR="#1f2937"
NEXT_PUBLIC_TEXT_COLOR="#ffffff"
NEXT_PUBLIC_ACCENT_COLOR="#84cc16"
NEXT_PUBLIC_ACCENT2_COLOR="#4d7c0f"
#+end_src
